<div class="pagination">
  <button
    [ngClass]="{ disabled: currentPage === 0 }"
    class="page prev"
    (click)="navigatePage(currentPage - 1)"
  >
    Prev
  </button>
  <ng-container *ngFor="let image of images; let index = index">
    <button
      class="page"
      [ngClass]="{ active: index === currentPage }"
      (click)="navigatePage(index)"
    >
      {{ index + 1 }}
    </button>
  </ng-container>

  <button
    (click)="navigatePage(currentPage + 1)"
    [ngClass]="{ disabled: currentPage === images.length - 1 }"
    class="page next"
  >
    Next
  </button>
</div>
<app-picture
  [title]="images[currentPage].title"
  [url]="images[currentPage].url"
>
</app-picture>
